* {

}

.everything{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #000000;
  color: white;

}
a:link {
  color:#ccccff;
  text-decoration: none;
  transition-duration: 0.6s;
}
a:visited{
  color:#ccccff;
  text-decoration: none;
}
a:hover{
  color:#7777ff;
  text-decoration: none;
}
a:active{
  color:#444444;
  text-decoration: none;
}
#hiddenlink {
  color:#ffffff;
  transition-duration: 0.6s;
}

#hiddenlink:hover {
  color:#7777ff;
}

h1{
  font-size:3em;
}
h2{
  font-size:2em;
}
h3{
  font-size: 1.3em;
}
p{
  font-size:1em;
}

.header {
padding:10px;
margin:auto;
}

.statusbox {
background-color: #552222;
text-align: left;
margin:auto;
max-width: 450px;
padding: 20px;
}

.column.left{
display: block;
float: left;
width:150px;
padding: 20px;

}

.column.center {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 20px;
}

.column.right {
  display:block;
  float: right;
  width: 150px;
  padding: 20px;
}

.buttondivs{
  background-color: #222222;
}

.button{
  background-color: inherit;
  border: none;
  color: #bbbbbb;
  font-size: 1em;
  width: 150px;
  height: 4em;  /*I KNOW THIS SHIT I USED TO DO LATEX*/
  transition-duration: 0.6s; /*short fade because we're super patient*/
}

.button:hover {
  background-color: #333333;
  color: #ffffff;
}


.footer {
font-size: 0.65em;
text-align: center;
margin: auto;
max-width:470px;
padding: 20px;

}
