* {

}

.everything{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #000000;
  color: white;

}
a:link {
  color:#ccccff;
  text-decoration: none;
}
a:visited{
  color:#ccccff;
  text-decoration: none;
}
a:hover{
  color:#aaaaff;
  text-decoration: underline;
}
a:active{
  color:##444444;
  text-decoration: underline;
}
h1{
  font-size:4em;
}
h2{
  font-size:2em;
}
h3{
  font-size: 1.3em;
}
p{
  font-size:1em;
}

.header {
padding:10px;
background-color: #55bb55;

}


.column.left{
display: block;
float: left;
width:150px;
padding: 20px;

}

.column.center {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 20px;
}

.column.right {
  display:block;
  float: right;
  width: 150px;
  padding: 20px;
}

.buttondivs{
  background-color: #222222;
}

.button{
  background-color: inherit;
  border: none;
  color: #bbbbbb;
  font-size: 2em;
  width: 150px;
  height: 3em;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #333333;
  color: #ffffff;
}


.footer {
font-size: 8pt;
text-align: center;
margin: auto;
max-width:470px;

}
