* {

}

.everything{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  color: #ffffff;
}


#bgoverlay{
  background-image: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  /*  youwantitdarker.mp3  */
  background-color: rgba(0,0,0,0.7);

}



a:link {
  color:#ccccff;
  text-decoration: none;
  transition-duration: 0.6s;
}
a:visited{
  color:#ccccff;
  text-decoration: none;
}
a:hover{
  color:#7777ff;
  text-decoration: none;
}
a:active{
  color:#444444;
  text-decoration: none;
}
#hiddenlink {
  color:#ffffff;
  transition-duration: 0.6s;
}

#hiddenlink:hover {
  color:#7777ff;
}

h1{
  font-size:3em;
}
h2{
  font-size:2em;
}
h3{
  font-size: 1.3em;
}
p{
  font-size:1em;
}

.header {
padding:10px;
margin:auto;
}

.statusbox {
background-color: #552222;
text-align: left;
margin:auto;
max-width: 450px;
padding: 20px;
}

.column.left{
display: none;
float: left;
width:0px;
padding: 20px;

}

.column.center {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 20px;
}

#content{

}

.column.right {
  display:block;
  float: right;
  width: 150px;
  padding: 20px;
}

#menucontainer{
  display: block;
  width:150px;
  height:0px;
}

.collapser{
  display: block;
  float: right;
  background-color: #444444;
  border: none;
  color: #bbbbbb;
  font-size: 20pt;
  width: 150px;
  height: 70px;
  user-select: none;
}
.collapser:hover {
  background-color:#555555;
  color: #ffffff;
}

.buttondivs.l1{
  display: block;
  float: right;
  background-color: #222222;
  border: none;
  color: #bbbbbb;
  font-size: 1em;
  width: 150px;
  height: 70px;
  user-select: none;
  transition: all 1s; /*short fade because we're super patient*/
}

.buttondivs.l1:hover {
  background-color: #555555;
  color: #ffffff;
}
.subbuttoncontainer{
  justify-content: right;
}

.buttondivs.l2{
  display: block;
  float: right;
  background-color: #404040;
  color: #dddddd;
  border: none;
  font-size: 1em;
  width: 100px;
  height: 50px;
  user-select: none;
  transition: all 1s;
}
.buttondivs.l2:hover{
  background-color: #555555;
  color: #ffffff;
}

.buttontext{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.buttontext.subbuttontext{
  height: 50px;
}

.footer {
font-size: 0.65em;
text-align: center;
margin: auto;
max-width:470px;
padding: 20px;

}
