#bgphoto{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  color: #ffffff;
  transition: all 3s;
  z-index: -2;

}


#bgoverlay{
  background-image: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  /*  youwantitdarker.mp3  */
  background-color: rgba(0,0,0,0.7);
  transition: background-color 3s;
  z-index: -1;


}
#hidden {
  display:none;
}


a:link {
  color:#ccccff;
  text-decoration: none;
  transition-duration: 0.6s;
}
a:visited{
  color:#ccccff;
  text-decoration: none;
}
a:hover{
  color:#7777ff;
  text-decoration: none;
}
a:active{
  color:#444444;
  text-decoration: none;
}
#hiddenlink {
  color:#ffffff;
  transition-duration: 0.6s;
}

#hiddenlink:hover {
  color:#7777ff;
}

#header{
  position: relative;
  max-width: 1000px;
  height:250px;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
}

#statusbox {
position:relative;
background-color: #222255;
text-align: left;
float: left;
width:max-content;
height:max-content;
max-width: 250px;
margin-left: 20px;
padding:20px;
z-index:1;
}


#footer {
  position: relative;
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#content_row{
  position: relative;
  padding: 20px;
  width: 100%;
  height:max-content;
  z-index: 1;
}

#content{
  display: block;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}



.menu {
  position:absolute;
  top: 0;
  right: 0;
  float:right;
  max-width: 150px;
  z-index: 20;
  user-select: none;

}


.menu_collapser{
  position:relative;
  width: 150px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}
.menu_collapser:hover {

}


.menu_buttondivs_l1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
  background-color: #222222;
  transition: all 1s;

}

.menu_buttondivs_l1:hover {

}

.menu_buttondivs_l2{
  display: flex;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: #222222;
  transition: all 1s;
}
.menu_buttondivs_l2:hover{

}

.buttontext{
  position:relative;
  text-align: center;
}

.subbuttontext{
  position:relative;
  text-align: center;
}
