* {

}

.everything{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  color: #ffffff;
  transition-duration: 3s;
  z-index: -2;
}


#bgoverlay{
  background-image: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  /*  youwantitdarker.mp3  */
  background-color: rgba(0,0,0,0.7);
  transition: background-color 3s;
  z-index: -1;


}



a:link {
  color:#ccccff;
  text-decoration: none;
  transition-duration: 0.6s;
}
a:visited{
  color:#ccccff;
  text-decoration: none;
}
a:hover{
  color:#7777ff;
  text-decoration: none;
}
a:active{
  color:#444444;
  text-decoration: none;
}
#hiddenlink {
  color:#ffffff;
  transition-duration: 0.6s;
}

#hiddenlink:hover {
  color:#7777ff;
}

h1{
  font-size:3em;
}
h2{
  font-size:2em;
}
h3{
  font-size: 1.3em;
}
p{
  font-size:1em;
}

.header {
margin:auto;
}

#statusbox {
background-color: #222255;
text-align: left;
margin-left: auto;
margin-right: auto;
width:max-content;
max-width: 250px;
padding: 20px;
z-index:5;
}

.column.left{
display: none;
float: left;
width:0px;
z-index:2;
}

.column.center {
padding: 20px;
width: 100%;
z-index: 1;
}

#content{
 display: block;
 margin: auto;
 max-width: 600px;
 padding: 20px;
 z-index: 2;
}

.wholemenu {
  position:absolute;
  top: 20px;
  right: 20px;
  float: right;
  width: 150px;
  padding: 20px;
  z-index: 5;
}

#menucontainer{
  display: block;
  width:150px;
  height:0px;
  z-index: 5;
}

.collapser{
  display: block;
  float: right;
  background-color: #444444;
  border:none;
  color: #bbbbbb;
  font-size: 20pt;
  width: 150px;
  height: 70px;
  user-select: none;
  z-index: 5;
}
.collapser:hover {
  background-color:#555555;
  color: #ffffff;
  z-index: 5;
}

.buttondivs.l1{
  display: block;
  float: right;
  background-color: #222222;
  border: none;
  color: #bbbbbb;
  font-size: 1em;
  width: 150px;
  height: 70px;
  user-select: none;
  transition: all 1s; /*short fade because we're super patient*/
  z-index: 5;
}

.buttondivs.l1:hover {
  background-color: #555555;
  color: #ffffff;
  z-index: 5;
}
.subbuttoncontainer{
  justify-content: right;
  z-index: 5;
}

.buttondivs.l2{
  display: block;
  float: right;
  background-color: #333333;
  color: #dddddd;
  border: none;
  font-size: 1em;
  width: 100px;
  height: 50px;
  user-select: none;
  transition: all 1s;
  z-index: 5;
}
.buttondivs.l2:hover{
  background-color: #555555;
  color: #ffffff;
  z-index: 5;
}

.buttontext{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  z-index: 6;
}

.buttontext.subbuttontext{
  height: 50px;
  z-index: 6;
}

.footer {
font-size: 0.65em;
text-align: center;
margin: auto;
max-width:470px;
padding: 20px;
z-index: 1;
}
